<!-- templates/tareas/detalle_tarea.html -->
{% extends 'base.html' %}

{% block title %}Detalle de Tarea{% endblock %}

{% block content %}
<h1>{{ tarea.titulo }}</h1>
<p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
<p><strong>Fecha Límite:</strong> {{ tarea.fecha_limite }}</p>
<p><strong>Categoría:</strong> {{ tarea.categoria }}</p>
<a class="btn btn-secondary" href="{% url 'editar_tarea' tarea.pk %}">Editar</a>
<a class="btn btn-danger" href="{% url 'eliminar_tarea' tarea.pk %}">Eliminar</a>
<a class="btn btn-primary" href="{% url 'lista_tareas' %}">Volver a la Lista de Tareas</a>
{% endblock %}
